<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="container">
            <div class="card">
                <p>C'est probablement le site le moins sécurisé du monde il doit y avoir 3 hackers russes qui vous observent en ce moment-même. <br>Ah et y'a absolument aucune modération.</p>
                <a href="/">Accueil</a>
            </div>
            <small>&copy; Arthur. <a href="/apropos">En savoir plus.</a></small>
        </div> 
    </form>
</body>

</html>