<!DOCTYPE html>
<html>

<head>
    <title>GROS IMBECILE</title>
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8" />
    <meta name="description" content="Je suis allé voir sur enormeidiot.com et y'a marqué que c'est toi l'admin ?? ">
    <meta name="viewport" content="width=device-width, inital-scale=1">
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- <input type="image" src="<%= imagedir %>" style="width: 400px; height: 400px;" onclick="clickImage()"> -->
        <div class="container">
            <div class="card">
                <div class="cardBorder">
                    <label for="hiddenInput">
                        <img src="<%= imagedir %>" alt="Photo de profil" id="uploadImage">
                        <input type="file" name="image" id="hiddenInput" style="display: none;" />
                    </label>
                </div>
                <textarea spellcheck="false" name="textField" class="cardTextArea"><%= mytext %></textarea>
                <input type="submit" class="cardButton" value="Envoyer">
            </div>
            <small>&copy; Arthur. <a href="/apropos">En savoir plus.</a></small>
        </div>
    </form>
</body>

<script src="script.js"></script>

</html>